<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../public/icon/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>

<body id="bgames">

    <video id="miVideo" src="../../public/vid/4K BLUE PARTICLES PARTICULAS AZUL.mp4" autoplay loop muted></video>


    <header>
        <a href="index.html" class="enlace1"><img src="../../public/img/QM-LOGO-Photoroom (1).png" class="logo" /></a>
        <nav class="barranavegacion">
            <ul class="lista">
                <li class="one">
                    <button><a href="./g.html" class="enlace2"><span>Home</span></a></button>
                </li>
                <li class="two">
                    <button><a href="" class="enlace2">About us</a></button>
                </li>
                <li class="three">
                    <button><a href="#contact" class="enlace2">Get started</a></button>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="lista2">
                <li>
                    <button class="cssbuttons-iou" id="btn-logout"><span>Logout</span></a></button>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="titleG3"> "Learning by playing is like a road full of surprises, where every mistake is a shortcut to
            knowledge."</h1>
        <section class="s-box" id="contact">
            <div class="s-divs">
                <div class="s-div1">
                    <p class="s-text text-center">
                        <strong> Why are we doing this?</strong>
                    </p>
                    <p class="s-text2 text-center">
                        In the digital era, technology is the cornerstone of social progress and plays a crucial role in
                        everyday life. Training in this sector is essential to contribute to its growth and adapt to
                        emerging work realities driven by advances such as automation and artificial intelligence.
                        Quantum Mind aims to be the bridge that connects people with four key technology areas, often
                        perceived as distant and inaccessible. These areas are at the forefront of the disruptive
                        changes we are experiencing and will intensify in the future.
                    </p>
                </div>
                <div>
                </div>
            </div>
        </section>




        <div class="card1">
            <img src="../../public/img/img-category-programing.webp" alt="Descripción de la imagen">
            <h2 class="text-center s-text">Programming</h2>
        </div>


        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div style="width: 100%;">
                                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                    <iframe title="THE COMPUTER" frameborder="0" width="1200" height="675"
                                        style="position: absolute; top: 5%; left: 0%; width: 100%; height: 100%;"
                                        src="https://view.genially.com/664f30582e30d70014abe781" type="text/html"
                                        allowscriptaccess="always" allowfullscreen="true" scrolling="yes"
                                        allownetworking="all"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div style="width: 100%;">
                                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                    <div style="width: 100%;">
                                        <div
                                            style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                            <iframe title="THE ALGORTHM" frameborder="0" width="1200" height="675"
                                                style="position: absolute; top: 5%; left: 0; width: 100%; height: 100%;"
                                                src="https://view.genially.com/6652f4ac0b375500146918b8"
                                                type="text/html" allowscriptaccess="always" allowfullscreen="true"
                                                scrolling="yes" allownetworking="all"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div style="width: 100%;">
                                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                    <div style="width: 100%;">
                                        <div
                                            style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                            <iframe title="VAR AND DATA TYPES" frameborder="0" width="1200" height="675"
                                                style="position: absolute; top: 5%; left: 0; width: 100%; height: 100%;"
                                                src="https://view.genially.com/6652f5fd7f481f00151cad3a"
                                                type="text/html" allowscriptaccess="always" allowfullscreen="true"
                                                scrolling="yes" allownetworking="all"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        <script type="module" src="../js/playing.js"></script>
</body>

</html>