<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamesViews</title>
</head>
<body>

    <header></header>
    <main>
        <section>
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe
                title="PRESENTACIÓN RETROTECNOLOGÍA" frameborder="0" width="1200" height="675"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                src="https://view.genially.com/664f30582e30d70014abe781" type="text/html" allowscriptaccess="always"
                allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
        </section>
    </main>
    <footer></footer>
    
</body>
</html>

