@import url('normalize.scss');
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Rock+Salt&display=swap');
*{
    font-family: "Rock Salt", cursive;
}

#bg-reg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.col-md-7 {
    flex: 0 0 auto;
    width: 100%;
}

