@import url("normalize.scss");
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/*Reiniciamos los estilos del navegador*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primario: #002b5b;
  --color-secundario: rgb(0, 94, 255);
  --color-fondo: #ecf0f1;
  --color-texto: #000000;
  --color-gris: grey;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: black;
  color: white !important;
}

header {
  padding-top: 5px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid black;
  position: fixed;
  font-size: 20px;
  display: flex;
  align-items: center;
  z-index: 5;
  padding-left: 60px !important;
  padding-right: 60px !important;
  justify-content: space-around;
  background-color: transparent; /* Esto hará que el fondo sea transparente */
}

.lista {
  list-style-type: none;
  /* Elimina los marcadores de lista */
  padding: 0;
  /* Elimina el relleno predeterminado de la lista */
  margin: 0;
  display: flex;
  gap: 120px;
  /* Separa los elementos de la lista*/
}

.lista2 {
  list-style-type: none;
  display: flex;
  padding: 0px;
  /* Elimina el relleno predeterminado de la lista */
  margin: 0;
  gap: 50px;
}
.logo {
  width: 100px;
}

.enlace2 {
  text-decoration: none !important;
  color: inherit;
}

.enlace3 {
  text-decoration: none !important;
  color: inherit;
}

//CHAT GPT
.lista button {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none !important;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.lista button span {
  margin: 10px;
}

.lista button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  z-index: -1;
}

.lista button:hover {
  color: #002b5b;
}

.lista button:hover::before {
  box-shadow: inset 0 0 0 10em white;
}

.lista2 a {
  text-decoration: none !important;
  color: inherit;
}

.lista button {
  color: white;
}

.cssbuttons-iou {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em;
  border-radius: 1.5em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #002b5b, rgb(0, 94, 255));
  color: white;
  overflow: hidden;
}

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em;
  border-radius: 1.5em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #002b5b, rgb(0, 94, 255));
  color: white;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-iou svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-iou span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-iou::before,
.cssbuttons-iou::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-iou::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}
.cssbuttons-iou:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.cssbuttons-iou:active {
  transform: scale(0.95);
}
///

/* Section del video */

.videosection {
  position: relative; /* Asegura que cualquier contenido dentro de la sección se posicione correctamente */
  width: 100%;
  overflow: hidden; /* Evita que el video se desborde fuera de la sección */
  height: 800px;
}

section video {
  /* Posiciona el video de forma absoluta dentro de la sección */
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover; /* Ajusta el tamaño del video para cubrir toda la sección */
}

.botoneslanding1 {
  position: relative;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  gap: 8px;
  bottom: 500px;
}
.botoneslanding2 {
  display: flex;
  left: 0;
  position: relative;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  bottom: 540px;
}

.button1 {
  text-decoration: none !important;
  color: grey;
}

.button2 {
  text-decoration: none !important;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
}

/* Section de suscribirse*/

.suscription-box {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 150px;
}

.suscription-divs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #002b5b;
  height: 300px;
  width: 1200px;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.suscription-div1 {
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.suscription-text {
  color: white;
  font-size: 30px;
}

.suscription-text2 {
  color: white;
  font-size: 20px;
}

.suscription-button {
  background-color: #002b5b;
  color: white;
}

input[type="submit"] {
  background-color: none;
  border: 1px solid white;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-size: 30px;
}
input[type="submit"]:hover {
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-size: 30px;
  color: #002b5b;
  transition: color 1.5s, transform 2s, box-shadow 1s;
}

// section get to know us

.video-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../../public/img/fondo.png"); /* Ruta de la imagen de fondo */
  background-size: 1200px 800px;
  background-position: center;
  height: 1200px;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 70px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// grid

.GRIDS {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 700px;
  margin-top: 100px;
}
.container2 {
  width: 100%;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    5,
    200px
  ); /* Una fila con 5 columnas de 300px cada una */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  grid-gap: 120px;
}

figure {
  width: 100%;
  height: 100%;
  position: relative;
  border-width: 0.5px;
}

.grid figure img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  object-position: initial;
  opacity: 0.4;
  padding: 20px;
}
.grid figure img:hover {
  opacity: 2;
  transition: opacity 0.5s, transform 1s;
  cursor: pointer;
}

//FAQS

.FAQS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 500px;
  margin-bottom: 200px;
}

.faqs {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 80px;
}

.faq1 {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.question1 {
  display: none;
}

.question-label1 {
  padding: 10px;
  width: 500px;
  height: 80px;
  text-align: left;
  cursor: pointer;
  background-color: white;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
  padding-left: 30px;
}

.answer1 {
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: transform 2s ease max-height 2s ease; /* Añadir transición para suavizar la expansión */
  padding: 0 10px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  padding-left: 30px;
}

.question1:checked + .question-label1 + .answer1 {
  display: block;
  max-height: 1000px; /* Establecer una altura máxima suficientemente grande para mostrar la respuesta completa */
  border-bottom-left-radius: 0; /* Quitar el radio de borde inferior cuando se abre la respuesta */
  border-bottom-right-radius: 0; /* Quitar el radio de borde inferior cuando se abre la respuesta */
  transition: transform 3s ease, max-height 3s ease, box-shadow 2s;
}

.question1:checked + .question-label1 {
  font-weight: bold; /* Hacer que el texto de la pregunta sea en negrita cuando se abre la respuesta */
}

.faq2 {
  position: absolute;
  left: 180px;
}

.faq2 h1 {
  font-size: 80px;
}
.faq2 h2 {
  font-size: 30px;
}

// icons

.icons {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 5;
  margin-top: 20px;
}

.custom-icon {
  color: grey;
  font-size: 30px;
  width: 25px;
  height: 25px;
}

.custom-icon:hover {
  color: #002b5b;
}

// Footer

footer {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-control {
  border-radius: 50px;
  height: 45px;
}

footer div {
  margin-top: 20px;
}

// boton begin

.cssbuttons-io-button {
  background: rgb(0, 94, 255);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 2em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em rgb(0, 94, 255);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #002b5b;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #002b5b;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

// others

form button {
  border-radius: 100px;
}
